[Unit]
Description=Benchmark Alacritty master performance

[Service]
Type=oneshot
WorkingDirectory=/home/perfbot/termbenchbot/
ExecStart=/bin/sleep 180
ExecStart=/usr/bin/git pull origin master --rebase
ExecStart=/home/perfbot/termbenchbot/alacritty_master.sh

[Install]
WantedBy=multi-user.target
