[Unit]
Description=Benchmark Alacritty master performance

[Service]
Type=oneshot
ExecStart=/bin/sleep 180
ExecStart=/home/perfbot/termbenchbot/alacritty_master.sh
WorkingDirectory=/home/perfbot/termbenchbot/

[Install]
WantedBy=multi-user.target
