[Unit]
Description=Plot Alacritty master performance
After=network-online.target

[Service]
Type=oneshot
ExecStart=/home/undeadleech/termbenchbot/plot_master.sh
WorkingDirectory=/home/undeadleech/termbenchbot/

[Install]
WantedBy=multi-user.target
